# -----------------------------------------------------------------------------
# DATABASE (PostgreSQL)
# -----------------------------------------------------------------------------
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nbites?schema=public"

# -----------------------------------------------------------------------------
# BACKEND API SERVER (apps/api-server)
# -----------------------------------------------------------------------------
PORT=4000
NODE_ENV=development
API_URL="http://localhost:4000"
CORS_ORIGIN="http://localhost:3000"
JWT_SECRET="nbites-super-secret-jwt-key-2026"
JWT_EXPIRES_IN="7d"

# Redis Cache & PubSub
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD=""

# eSewa v2 Gateway Settings (Nepal)
ESEWA_PRODUCT_CODE="EPAYTEST"
ESEWA_SECRET_KEY="8gBm/:&EnhH.1/q"
ESEWA_GATEWAY_URL="https://rc-epay.esewa.com.np/api/epay/main/v2/form"

# Khalti v2 Gateway Settings (Nepal)
KHALTI_PUBLIC_KEY="test_public_key_77a9e18e..."
KHALTI_SECRET_KEY="test_secret_key_684629..."
KHALTI_GATEWAY_URL="https://a.khalti.com/api/v2/epayment/initiate/"

# -----------------------------------------------------------------------------
# FRONTEND WEB APPLICATION (apps/web)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_API_URL="http://localhost:4000/api/v1"
NEXT_PUBLIC_SOCKET_URL="http://localhost:4000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXTAUTH_SECRET="nbites-frontend-nextauth-secret-key"
NEXTAUTH_URL="http://localhost:3000"
